body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(pollito.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    text-shadow: 10px 10px 5px gray;
}
h2{
    text-align: center;
    color: #161718;
    font-size: 15px;
    background: transparent;
    font-weight: bold;
    padding: 15px; 
    border-top: 2px solid #cc6a66;
    border-bottom:2px solid #cc6a66;
    
    }

input[type="text"]{
    font-size: 15px;
    width: 100%;
    padding: 2%;
    border: none;
    margin-bottom:4%;
}
.input-contenedor{
    margin-bottom: 20px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(19, 15, 15);
}
span {
    text-align:center;
    width:150px;
    }


.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
.divForm .formulario{
    margin: auto;
    margin-top: 3%;;
    width: 40%;
    background-color: #ffc107;
    padding: 3%;
    
    
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 20%;
        margin-top: 100px;
        border-radius: 2%;
    }
}




























