<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title> Login </title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="/Estilos/styles.css"}>
	

</head>  
<body>

    <form th:action="@{/logincheck}" class="formulario"  method="POST">
      <div class="col input-group mb-3 d-flex justify-content-center"></div>
     <span class="input-group justify-content-center"  style="color: black; font-size: 250%; font-family: 'Times New Roman', Times, serif; font-weight: bold; ">
       Chicken Bros</span></div>
     <h2> "No dejes para mañana el pollito que puedas comer hoy" </h2> 
     <div class="contenedor">
        <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="email" placeholder="Correo Electronico" name="email" required/>
       
         </div>
         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
             <input type="password" placeholder="Contraseña" name="password" required/> 
            </div>
            <div class="col-12">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="rememberMe">
                  <label class="form-check-label" for="rememberMe"> Recordarme. </label>
              </div>
          </div>
             
         <input type="submit" value="Login" class="button">
         <p> Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿No tienes una cuenta? <a class="link" href="registro"> Registrate </a></p>
     </div>
        </div>
    </div>
    
    <div class="alert alert-danger"  role="alert">
        <p th:if="${error != null}"> El email o contraseña son incorrectos</p>
   </div>
    </form>


</body>
</html>

